<div class="row">
    <h1>Educación</h1>
    <div class="call-lg-1"></div>
    <div class="call-lg-11">
       <ul>
           <li>
               <h1>Educacion 1</h1> - 
               <h3>(years)</h3>
           </li>
           <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Unde, excepturi! Natus cum eligendi porro mollitia commodi, 
                obcaecati quisquam quibusdam odio repellat! 
                Laborum similique ratione veniam at fugiat ipsam. 
                A, necessitatibus?
           </p>
       </ul>
       <ul>
           <li>
               <h1>Educación 2</h1> - 
               <h3>(years)</h3>
           </li>
           <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Unde, excepturi! Natus cum eligendi porro mollitia commodi, 
                obcaecati quisquam quibusdam odio repellat! 
                Laborum similique ratione veniam at fugiat ipsam. 
                A, necessitatibus?
           </p>
       </ul>
       <ul>
           <li>
               <h1>Eduación 3</h1> - 
               <h3>(years)</h3>
           </li>
           <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Unde, excepturi! Natus cum eligendi porro mollitia commodi, 
                obcaecati quisquam quibusdam odio repellat! 
                Laborum similique ratione veniam at fugiat ipsam. 
                A, necessitatibus?
           </p>
       </ul>
       
    </div>
   
   </div>